{% extends "pgram/base.html" %}{% load static %} {% block content %}
  <div id="post_list">
    {% for post in posts %}
    <div class="post post-id-{{ post.id }}">
        <div class="bold">{{ post.user.username }}</div>
      <div class="post_img">
        {% if post.image != null and post.image.url != "" %}
        <img src="{{ post.image.url }}" alt="대체 텍스트" />
        {% else %}
        <img src="{% static 'pgram/image/no_img.png' %}" alt="대체 텍스트" />
        {% endif %}
      </div>
      <div class="btn_box">
        {% if user != none %}
            {% if user in post.like_users.all %}
                <img src="{% static 'pgram/image/like.png' %}" alt="" onclick="onClickLike({{post.id}}, {{user.id}}, 'unlike')">
            {% else %}
                <img src="{% static 'pgram/image/unlike.png' %}" alt="" onclick="onClickLike({{post.id}}, {{user.id}}, 'like')">
            {% endif %}
        {% else %}
            <img src="{% static 'pgram/image/unlike.png' %}" alt="">
        {% endif %}
        <img src="{% static 'pgram/image/comment.png' %}" alt="">
      </div>
      <div class="post_like">
        <p class="bold">좋아요 {{ post.like }} 개</p>
      </div>
      <div class="post_content"><h2>{{post.content}}</h2></div>
      <div class="post_comment_box">
        <div class="post_comment">
            {% for comment in comments %}
                {% if comment.post.id == post.id %}
                    <p><a onclick="delete_comment({{comment.id}}, {{post.id}}, {{comment.user.id}})" class="comment_delete">X</a><span class="bold">{{ comment.user.username }}</span> {{ comment.text }}</p>
                {% endif %}
            {% endfor %}
          </div>
      </div>
      
      <div class="post_comment_add">
        <form onsubmit="submitForm(event, {{post.id}}, {{user.id}})">
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글 달기..." required>
            <input type="submit" value="작성 완료!" class="submit" />
        </form>
      </div>
      
    </div>
    {% endfor %}
  </div>
{% endblock%}

{% block extra %}
<script>
    const requestLike = new XMLHttpRequest();

    const onClickLike = (id, userid, type) =>{
        const url = "/like_ajax/";
        requestLike.open("POST",url,true);
        requestLike.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestLike.send(JSON.stringify({id: id, userid: userid, type: type}))
    };

    requestLike.onreadystatechange=()=>{
        if(requestLike.readyState === XMLHttpRequest.DONE){
            if(requestLike.status<400){
                const{id,userid,type}=JSON.parse(requestLike.response);
                const element = document.querySelector(`.post-id-${id} .btn_box`);
                let imgHTML;
                let btntype;
                if(type=="like"){
                    imgHTML='../../static/pgram/image/like.png';
                    btntype="unlike";
                }else{
                    imgHTML='../../static/pgram/image/unlike.png';
                    btntype="like";
                }
                const newHTML = `<img src=${imgHTML} alt="" onclick="onClickLike(${id}, ${userid}, '${btntype}')">`;
                element.innerHTML = newHTML;
                const commentHTML = '<img src="../../static/pgram/image/comment.png" alt="">';
                element.insertAdjacentHTML("beforeend", commentHTML);

                const countelement = document.querySelector(`.post-id-${id} .post_like .bold`);
                const originHTML = countelement.innerHTML;
                const [buttonType, num, trash] = originHTML.split(' ');
                let count;
                if(type=="like"){
                    count = Number(num) + 1;
                }else{
                    count = Number(num) - 1;
                }
                countelement.innerHTML = `좋아요 ${count} 개`;
            }
        }
    };

    const requestDeleteComment = new XMLHttpRequest();

    const delete_comment = (comment_id, post_id, user_id) =>{
        if(user_id==null)
            return;

        const url = "/comment/delete";
        requestDeleteComment.open("POST",url,true);
        requestDeleteComment.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestDeleteComment.send(JSON.stringify({comment_id: comment_id, post_id: post_id, user_id: user_id}))
    };

    requestDeleteComment.onreadystatechange=()=>{
        if(requestDeleteComment.readyState === XMLHttpRequest.DONE){
            if(requestDeleteComment.status<400){
                const{comment_id,post_id,user_id, comments, deleted}=JSON.parse(requestDeleteComment.response);

                if (deleted==false){
                    return;
                }

                const element = document.querySelector(`.post-id-${post_id} .post_comment`);
                element.innerHTML ='';

                for (const comment of comments) {
                    const commentElement = document.createElement('p');
                    commentElement.innerHTML = `<a onclick="delete_comment(${comment.id}, ${post_id}, ${comment.user_id})" class="comment_delete">X</a><span class="bold">${comment.username}</span> ${comment.text}`;
                    element.appendChild(commentElement);
                }
            }
        }
    };

    const requestComment = new XMLHttpRequest();

    const submitForm = (event, post_id, user_id) =>{
        event.preventDefault();

        if(user_id==null)
            return;

        const formData = new FormData(event.target);

        console.log(post_id);
        console.log(user_id);

        formData.append('post_id', post_id);
        formData.append('user_id', user_id);

        const url = "/pgram/comment";
        requestComment.open("POST",url,true);
        requestComment.send(formData);

        const inputElement = event.target.querySelector('input[name="content"]');
        if (inputElement) {
            inputElement.value = "";
        }
    };

    requestComment.onreadystatechange=()=>{
        if(requestComment.readyState === XMLHttpRequest.DONE){
            if(requestComment.status<400){
                const{post_id, comments}=JSON.parse(requestComment.response);

                const element = document.querySelector(`.post-id-${post_id} .post_comment`);
                element.innerHTML ='';

                for (const comment of comments) {
                    const commentElement = document.createElement('p');
                    commentElement.innerHTML = `<a onclick="delete_comment(${comment.id}, ${post_id}, ${comment.user_id})" class="comment_delete">X</a><span class="bold">${comment.username}</span> ${comment.text}`;
                    element.appendChild(commentElement);
                }
            }
        }
    };
</script>
{% endblock %}
