body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h2 {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-around;
  width: 270px;
}

img,
.space {
  width: 25px;
  height: 25px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  background: rgb(181, 191, 183);
  border-radius: 40px;
  padding: 30px 20px;
}

#time {
  background: white;
  margin: 20px 20px;
  padding: 10px 130px;
  font-size: 4rem;
  border-radius: 40px;
  font-weight: bold;
}

#clockbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 60px;
}

#clockbtn > button {
  border: none;
  padding: 20px 10px;
  border-radius: 20px;
  font-size: 1.4rem;
  box-shadow: 4px 4px 2px gray;
}

#clockbtn > button:active {
  box-shadow: none;
  background: darkgray;
}

#record {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 20px;
  background: rgb(181, 191, 183);
}

#title,
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 30px;
}

#selectall,
.select {
  border: 3px solid black;
  border-radius: 20px;
  width: 27px;
  height: 27px;
}

#content {
  height: 300px;
  background-color: white;
  overflow-y: scroll;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  width: 12px;
  height: 6px;
  border: 3px solid black;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  margin-bottom: 4px;
}

.invisible .check {
  display: none;
}
