@import "reset.css";

:root {
  --color-pink: rgb(249, 54, 105);
  --color-gray: rgb(242, 242, 242);
  --color-light-gray: rgb(248, 248, 248);
  --input-border-color: #a9a9a9;
  --text-info-color: rgb(133, 133, 133);
}

body,
html {
  font-size: 10.5px;
  line-height: 10.5px;
}

body {
  margin: 0 5px;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.theme_color {
  color: var(--color-pink);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  word-spacing: -2px;
}

nav > div {
  display: inline-block;
}

#add {
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
}

#review {
  background: var(--color-gray);
  border-radius: 10px;
  padding: 10px 60px;
}

#review_title {
  text-align: center;
  padding: 20px 0;
}

#review > form > span {
  font-size: 1.1rem;
  font-weight: 600;
}

#review > form > input,
#review > form > select,
#review > form > textarea,
#review > form > .savebtn > input {
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  margin-bottom: 20px;
}

#review > form > .savebtn {
  text-align: right;
}

#movie_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  margin-top: 20px;
}

#movie_list > .movie {
  background: var(--color-gray);
  padding: 20px 20px 40px 20px;
  margin-top: 20px;
  font-size: 1.3rem;
}

#movie_list > .movie > .movie_img {
  text-align: center;
}

#movie_list > .movie img {
  width: 160px;
  height: 240px;
  object-fit: cover;
  margin: 5px 20px;
}

#movie_list > .movie h2 {
  margin: 25px 0;
}

#movie_list > .movie > .movie_info {
  margin-top: 20px;
}

#movie_list > .movie > .movie_info > span {
  color: var(--text-info-color);
  font-weight: bold;
}

#movie_detail {
  width: 100%;
  padding: 20px;
}

#detail_nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#detail_info {
  background: var(--color-light-gray);
  display: flex;
  border-radius: 5px;
}

#detail_info > .detail_img > div {
  width: 120px;
  height: 160px;
  background: yellow;
  margin: 10px 20px;
}

#detail_info_content {
  height: 160px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

#detail_info_content span {
  color: var(--text-info-color);
  font-weight: bold;
}

#detail_content {
  background: var(--color-gray);
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}
