{% extends "idea/base.html" %}{% load static %} {% block content %}
<div id="list">
  <div id="list_title">
    <h2 class="theme_color">Idea List</h2>
    <p>나의 아이디어를 잊지 말고 기록해보세요</p>
  </div>
  <div id="list_order">
    <form action="/" method="post" id="orderForm">
      {% csrf_token %}
      <select name="order" onchange="submitForm()">
        <option value="none">--정렬기준--</option>
        <option value="찜하기순">찜하기순</option>
        <option value="등록순">등록순</option>
        <option value="최신순">최신순</option>
        <option value="이름순">이름순</option>
      </select>
    </form>
  </div>
  <div id="list_item">
    {% for idea in ideas %}
    <div class="idea">
      {% if idea.ideastars_set.exists %}
      <div class="star"><a href="/">★</a></div>
      {% else %}
      <div class="star"><a href="/">☆</a></div>
      {% endif %}
      <div class="idea_img">
        {% if idea.image != null and idea.image.url != "" %}
        <img src="{{ idea.image.url }}" alt="대체 텍스트" />
        {% else %}
        <img src="{% static 'idea/image/no_img.png' %}" alt="대체 텍스트" />
        {% endif %}
      </div>
      <p class="bold"><a href="/ideas/{{idea.pk}}">{{ idea.title }}</a></p>
      <hr />
      <p>예상 개발 툴 : {{ idea.devtool }}</p>
      <p>아이디어 관심도 : +<span> {{ idea.interest }} </span>-</p>
    </div>
    {% endfor %}
  </div>
  <div id="list_page">1 2</div>
</div>
{% endblock %}
