{% extends "idea/base.html" %}{% load static %} {% block content %}
<div id="devdetail">
  <div id="devdetail_title">
    <h2 class="theme_color">DevTool Detail</h2>
    <p>
      아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히
      살펴보세요.
    </p>
  </div>
  <div id="devdetail_info">
    <div><h1>{{ devtool.name }}</h1></div>

    <div class="border-left">
      <p>{{ devtool.kind }}</p>
      <p>{{ devtool.content }}</p>
    </div>
    <hr />
    <div><h3>> 만들 수 있는 SW 목록</h3></div>
    <div>
      {% for idea in related_ideas %}
      <p><a href="/ideas/{{ idea.pk }}">{{ idea.title }}</a></p>
      {% endfor %}
    </div>
  </div>
  <div id="devdetail_action">
    <a href="/ideas/devtool/{{devtool.pk}}/delete" class="btn btn-danger btn-lg">삭제</a>
    <a href="/ideas/devtool/list" class="btn btn-light btn-lg">목록</a>
    <a href="/ideas/devtool/{{devtool.pk}}/update" class="btn btn-primary btn-lg">수정</a>
  </div>
</div>
{% endblock %}
