{% extends "idea/base.html" %}{% load static %} {% block content %}
<div id="devlist">
  <div id="devlist_title">
    <h2 class="theme_color">DevTool List</h2>
    <p>
      개발툴 목록 페이지 입니다. 자신이 사용가능한 개발툴의 목록을 확인해
      보세요.
    </p>
  </div>
  <div id="devlist_content">
    <hr />
    {% for devtool in devtools %}
    <div class="devlist_item">
      <div class="devlist_item_title">
        <a href="/ideas/devtool/{{devtool.pk}}">{{ devtool.name }}</a>
      </div>
      <div class="devlist_item_type">{{ devtool.kind }}</div>
      <div class="devlist_item_description">{{ devtool.content }}</div>
    </div>
    <hr />
    {% endfor %}
  </div>
  <div id="devlist_footer">1</div>
</div>
{% endblock %}
