{% extends "idea/base.html" %}{% load static %} {% block content %}
<div id="list">
  <div id="list_title">
    <h2 class="theme_color">Idea List</h2>
    <p>나의 아이디어를 잊지 말고 기록해보세요</p>
  </div>
  <div id="list_order">
    <form action="/" method="post" id="orderForm">
      {% csrf_token %}
      <select name="order" onchange="submitForm()">
        <option value="none">--정렬기준--</option>
        <option value="찜하기순">찜하기순</option>
        <option value="등록순">등록순</option>
        <option value="최신순">최신순</option>
        <option value="이름순">이름순</option>
      </select>
    </form>
  </div>
  <div id="list_item">
    {% for idea in page_obj %}
    <div class="idea">
      {% csrf_token %}
      <div class="star"><button id="star_value{{idea.pk}}" class="star" onclick="updateStar('{{idea.pk}}','/')">
        {% if idea.ideastar_set.exists %}★
        {% else %}☆
        {% endif %}</button></div>
      
      <div class="idea_img">
        {% if idea.image != null and idea.image.url != "" %}
        <img src="{{ idea.image.url }}" alt="대체 텍스트" />
        {% else %}
        <img src="{% static 'idea/image/no_img.png' %}" alt="대체 텍스트" />
        {% endif %}
      </div>
      <p class="bold"><a href="/ideas/{{idea.pk}}">{{ idea.title }}</a></p>
      <hr />
      <p>예상 개발 툴 : {{ idea.devtool }}</p>
      <p>아이디어 관심도 : <button class="interest_ajax_btn" onclick="updateInterest('{{idea.pk}}', 'increase')">+</button><span id="interest_value{{idea.pk}}">{{ idea.interest }}</span>
        <button class="interest_ajax_btn" onclick="updateInterest('{{idea.pk}}', 'decrease')">-</button></p>
    </div>
    {% endfor %}
  </div>
  <div id="list_page">
    <ul>
      {% if page_obj.has_previous %}
      <li><a href="?page={{page_obj.previous_page_number}}" class="page">&#10094;</a></li>
      {% endif %}

    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
      <li><a href="?page={{page}}" class="page pagenow">{{page}}</a></li>
      {% else %}
      <li><a href="?page={{page}}" class="page">{{page}}</a></li>

      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="?page={{page_obj.next_page_number}}" class="page">&#10095;</a></li>
      {% endif %}
  </ul>
  </div> 
{% endblock %}
