{% extends "idea/base.html" %}{% load static %} {% block content %}
<div id="detail">
  <div id="detail_title">
    <h2 class="theme_color">Idea Detail</h2>
    <p>
      아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히
      살펴보세요.
    </p>
  </div>
  <div id="detail_info">
    {% if idea.image != null and idea.image.url != "" %}
    <img src="{{ idea.image.url }}" alt="대체 텍스트" />
    {% else %}
    <img src="{% static 'idea/image/no_img.png' %}" alt="대체 텍스트" />
    {% endif %}
    <div id="detail_content">
      <h1>{{ idea.title }}</h1>
      <p>
        1) 아이디어 관심도
        <br />
        {{ idea.interest }}
        <br />
        <br />
        2) 예상 개발 툴
        <br />
        <span
          ><a href="/ideas/devtool/{{devtool.pk}}">{{ idea.devtool }}</a></span
        >
        <br />
        <br />
        3) 아이디어 설명
        <br />
        {{ idea.content }}
      </p>
    </div>
  </div>
  <div id="detail_action">
    <button class="btn btn-danger btn-lg">삭제</button>
    <button class="btn btn-light btn-lg">목록</button>
    <button class="btn btn-primary btn-lg">수정</button>
  </div>
</div>
{% endblock %}
